
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
  background:#333;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.timeline{
  width: 1100px;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.timeline::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 33%;
  bottom: 0px;
  width: 0.5px;
  background:rgba(0, 0, 0, 0.20);
}


.entry{
  display: flex;
}

.date{
  position: relative;
  width: 33%;
  text-align: right;
}
.date h3{
  padding-right: 30px;
}

.right-container{
  width: 66%;
}

.content{
  padding-left: 30px;
}
.icon{
  width:30px;
  height: 30px;
  position: absolute;
  right: -12px;
  top:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#fff;
  z-index:99
}

.icon img{
  width: 16px;
  height: 16px;
}

.content h3{
  font-size: 16px;
}

.date h3{
  font-size: 14px;
}