@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #E5E5E5;
}


.timeline::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 33%;
    bottom: 0px;
    width: 0.5px;
    background: rgba(0, 0, 0, 0.20);
}

.divider{
    border-top:0.5px solid rgba(0, 0, 0, 0.20);
    margin-left: 33%;

}


@media screen and (max-width:577px) {
    .timeline::after {  
        top: 0px;
        left: 24%;
        bottom: 0px;
    }

    .divider{
        margin-left: 24%;
    
    }
    
}